<a href="https://colab.research.google.com/github/Vonn128/learn-Python/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
my_dict = {'first': 'SQL', 'second' : 'python'}
print (my_dict)
my_dict ['second'] = 'html'
print (my_dict)
my_dict ['third') = 'java'
print (my_dict)

{'first': 'SQL', 'second': 'python'}
{'first': 'SQL', 'second': 'html'}
{'first': 'SQL', 'second': 'html', 'third': 'java'}

In [16]:
my_set = {1,2,3,4,5,5,5,5,6,6}
print (my_set)
my_set.add (7)
print (my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [22]:
# if statement
number = -1
if number > 0:
    print('positive')
else:
    print('negative')

negative

In [27]:
# if elif else statement
num = 0
if num > 0:
    print('positive')
elif num == 0:
    print('zero')
else:
    print('negative')

zero

In [31]:
#if nested statement
num = 12
if num >= 0:
    if num == 0:
        print('zero')
    else:
        print('positive number')
else:
    print('negative number')

positive number

In [52]:
#while loop
a = 1
odd_numb = []
while a:
    if a % 2 != 0:
        odd_numb.append(a)
    if a > 50:
        break
    a += 3
print(odd_numb)

[1, 7, 13, 19, 25, 31, 37, 43, 49]

In [60]:
#for loop
list = [1,2,3,4,5,6,7]
for num in list:
    print(num)

1
2
3
4
5
6
7